.game {
	position: absolute;
	top: 100px;
	left: 50px;
}
#boxes {
	display: flex;
	justify-content: center;
	align-items: center;
}
.box {
	height: 100px;
	width: 200px;
	margin: 1vw;
}
h2 {
	text-align: center;
}

#event {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.card {
	height: 200px;
	width: 200px;
	margin: 1vw 4px;
}
.form {
	display: flex;
	justify-content: center;
	align-items: center;
}
